.App {
  padding-top: 10%;
  justify-content: center;
  display: flex;
  text-align: center;
  flex-direction: row;
}

.Section {
  display: flex;
  padding: 40px;
  width: 200px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

.space {
  padding: 10px;
}

.square {
  padding: 10px;
  background-color: white;
  border: 1px solid #999;
  float: left;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  line-height: 34px;
  height: 34px;
  width: 34px;
}

.board-row:after {
  clear: both;
  content: '';
  display: table;
}

.Section:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.App-link {
  color: #61dafb;
}
